<div class="page-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="page-top-text">Bem vindo ao sistema</p>
                
            </div>
           
        </div>
    </div>
</div>

<div class="container">
 <div class="row">
        <div class="col-md-12">
            <br><br><br><br><br>
            <div class="center">
                    <a href="#" class="thumbnail">
                        <img src="/assets/img/simulador.png" width="200" height="200" class="img-responsive" alt="Cinque Terre"/>
                    </a>
                    <a href="#" class="thumbnail">
                        <img src="/assets/img/simulador1.png"  width="200" height="200" class="img-responsive" alt="Cinque Terre"/>
                    </a>
            </div>
    </div>
</div>
    
</div>
